.roshambo {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  #color: #cfd2da;
  #background-color: red;
  height: 100vh;
  width: 100%;
  min-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  min-height: 600px;
}

.disabled {
  color: #DAD3D3;
}

.board {
  #background-color: green;
  height: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.info {
  height: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.title {
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .title {
  font-size: 2em;
  padding: 5px;
  background-color: #cd4436;
  border: 1px solid #bb3c2f;
  background-image: url(http://redpelicans.com/images/pattern-dot-dark-red.png);
  color: white;
  min-height: 50px;
}

.shapes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  min-height: 70px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  font-size: 5em;
  padding: 10px;
}

.shape {
  display: flex;
  #background-color: blue;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 15em;
  padding: 30px;
}

.button {
  font-size: 4em;
}

.scores {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.rounds {
  font-size: 2em;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid #575d70;
  border-bottom: 1px solid #575d70;
  margin-bottom: 10px;
}

.history {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}



.score .title {
  font-size: 1.5em;
  padding: 5px;
  background-color: #F8F2F7;
  color: black;
}

.score .value {
  font-size: 3em;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.pastround {
  #min-height: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pastround .round {
  font-size: 1.2em;
  color: grey;
}

.pastround .shape {
  font-size: 1.5em;
  color: grey;
}
